/* ========================================================================== */
/* DEPENDENCY
/* ========================================================================== */


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


/* ========================================================================== */
/* DEFINITION
/* ========================================================================== */


:root {
    --color-ref: #292A2D;
    --padding-ref: 20px;
    --radius-ref: 15px;
}


/* ========================================================================== */
/* RESET
/* ========================================================================== */


*,
*::before,
*::after {
    box-sizing: border-box;
}


/* ========================================================================== */
/* STYLE
/* ========================================================================== */


html,
body {
    height: 100%;
}

body {
    align-items: center;
    background: var(--color-ref);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    position: relative;
}

body section.card {
    background: #fff;
    border: 2px solid #fff;
    border-radius: var(--radius-ref);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .85);
    display: flex;
    height: auto;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    min-width: 300px;
    padding: var(--padding-ref);
}

body section.card:first-child {
    margin-bottom: 2rem;
}

body section.card.card--basic p {
    font-size: 4vw;
    margin-top: 0;
}

body section.card.card--clamp p {
    font-size: clamp(20px, 4vw, 32px);
    margin-top: 0;
}


/* ========================================================================== */
/* MEDIA QUERY
/* ========================================================================== */


@media (max-width: 576px) {
    body section.card.card--basic {
        border-color: red;
    }

    body section.card.card--basic p {
        color: red;
    }

    body section.card.card--clamp {
        border-color: green;
    }

    body section.card.card--clamp p {
        color: green;
    }
}

@media (min-width: 992px) {
    body section.card.card--basic {
        border-color: red;
    }

    body section.card.card--basic p {
        color: red;
    }

    body section.card.card--clamp {
        border-color: green;
    }

    body section.card.card--clamp p {
        color: green;
    }
}